<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- mybatis db 연결정보 세팅 파일 -->
<configuration>
<!-- 1. sql 실행 결과 XXXDTO 매핑 -->
<typeAliases>
	<typeAlias type="com.health.dto.ExercisetypeDTO" alias="exercisetypedto"/>
	<typeAlias type="com.health.dto.PtroutineDTO" alias="ptroutinedto"/>
	<typeAlias type="com.health.dto.PtuserDTO" alias="ptuserdto"/>
	<typeAlias type="com.health.dto.PtroutineoneDTO" alias="ptroutineonedto"/>
	<typeAlias type="com.health.dto.WorkoutDTO" alias="Workoutdto"/>
	<typeAlias type="com.health.dto.BmiDTO" alias="bmidto"/>
	<typeAlias type="com.health.dto.SpecialptDTO" alias="specialptdto"/>
	<typeAlias type="com.health.dto.AdminDTO" alias="admindto"/>
	<typeAlias type="com.health.dto.ProductDTO" alias="productDTO"/>
	<typeAlias type="com.health.dto.CategoryDTO" alias="categorydto"/>
	<typeAlias type="com.health.dto.MemberDTO" alias="memberdto"/>
	<typeAlias type="com.health.dto.CartDTO" alias="cartdto"/>
	<typeAlias type="com.health.dto.OrderDTO" alias="orderdto"/>
	<typeAlias type="com.health.dto.ReviewDTO" alias="reviewdto"/>
	<typeAlias type="com.health.dto.AnnounceDTO" alias="announcedto"/>
</typeAliases>
</configuration>

